.THIS.popover-width {
   width: 50% ;
}

.THIS .slds-text-heading_small{
    color: rgb(0, 112, 210);
}

.THIS .wrap-lines{
    white-space: pre-line;
}

.THIS .text-center{
    text-align:center;
}


@media  all and (max-width: 767px) {
    
    .THIS.popover-width {
       width: 90%;
       max-height: 40rem;
       overflow: scroll;
       top: 10px!important;
    }
    
}


@media  all and (min-width: 768px) and (max-width: 1023px) {
    
    .THIS.popover-width {
       width: 65%;
    }
}
    
@media  all and (min-width: 1024px) {
    
    .THIS.popover-width {
       width: 50%;
    }
    
  }