.THIS .slds-checkbox--toggle [type=checkbox]+.slds-checkbox--faux_container .slds-checkbox--off {
    display: none;
}

.THIS .slds-checkbox--toggle [type=checkbox]:checked+.slds-checkbox--faux_container .slds-checkbox--on {
    display: none;
}

.THIS .slds-modal__container{
    padding-top:12%;
}

.THIS .slds-form-element__help{
    display:none;
}