.THIS.popoverclass {
    max-height : 100px;
}

.THIS .section-background{
    background-color: rgb(221, 219, 218);
    color: #0c0c0c;
}

.THIS .slds-avatar{
    width: 5rem;
    height: 5rem;
    border-radius: 50rem;
}

.THIS .slds-media__figure{
    margin-right:0;
}
.THIS .ind-app , .THIS .ind-gender , .THIS .ind-age {
  padding: 0.1rem 1rem;
}

.THIS .ind-name{
   padding: 0.1rem 1rem;
   font-size: 1rem;
}

.THIS .toggle-btn-sec{
    margin: 0px;
    padding: 3rem 1rem;
    border-right: 1px solid rgb(176, 173, 171);
                 
}

.THIS .link-text{
    color: rgb(0, 112, 210);
    text-decoration: none;
    cursor: pointer;
}