.THIS .slds-m-around_medium{
    margin:1.25rem;
}

.THIS .pagination-button{
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

.THIS .slds-button_inverse, .THIS .slds-button--inverse{
    border-color: #0070d2;
    color: rgb(0, 112, 210);
}