.THIS .section-heading { color: #111; display: block; position: relative; text-align: left;padding-left:1.5rem; z-index: 1; }


.THIS .section-heading:before { border-top: 1px solid #111; content: ""; position: absolute; top: 12px; left: 0; width: 100%; z-index: -1; }

.THIS .section-heading span { background: #fdfdfd; padding: 0 10px; text-transform: uppercase; }

/*toggleCss.css*/
.THIS.toggle {
    display: none;
}

.THIS .slds-form-element__help{
    display:none;
}

.THIS .required-asterisk:before { 
       content:" *";
       color: rgb(194, 57, 52);
       margin: 0 .125rem;
   }