.THIS html, .THIS html body{
      overflow: auto;
      -webkit-overflow-scrolling:auto;
    }
 .THIS body{
      position:absolute;left:0;right:0;top:0;bottom:0;
      margin:0;
    }


/*FOR ASTERISKS IN INPUT TEXT, TEXTAREA , SELECT , SINGLE RADIO BUTTON*/
.THIS .required-asterisk:before { 
    content:" *";
    color: rgb(194, 57, 52);
    margin: 0 .125rem;
}

/*FOR ASTERISKS IN SINGLE CHECKBOX,SINGLE RADIO BUTTON*/
.THIS .required-asterisk-control .slds-form-element__control .slds-checkbox::before { 
    content:" *";
    color: rgb(194, 57, 52);
    margin: 0 .125rem;
}

/*FOR ASTERISKS IN RADIO GROUPS AND CHECBOX GROUPS*/
.THIS .required-asterisk-legend fieldset >legend::before {
    content:" *";
    color: rgb(194, 57, 52);
    margin: 0 .125rem;
}

/*FOR ERROR INDICATION IN TOGGLE BUTTONS*/
.THIS .toggle-error > .slds-form-element__control > label > .slds-checkbox--faux_container > .slds-checkbox--faux{
    border:1px solid rgb(194, 57, 52)
}

/*FOR ASTERISKS IN TOGGLE BUTTONS*/
.THIS .toggle-required-asterisk > .slds-form-element__control > label:before{
    content:" *";
    color: rgb(194, 57, 52);
    margin: 0 .125rem;
}

/*FOR HIDING LABELS - ACTIVE, INACTIVE IN TOGGLE BUTTONS*/
.THIS .slds-checkbox--toggle [type=checkbox]:checked+.slds-checkbox--faux_container .slds-checkbox--on{
    display:none;
}

.THIS .slds-checkbox--toggle [type=checkbox]+.slds-checkbox--faux_container .slds-checkbox--off{
    display:none;
}

/*FOR ASTERISKS IN UI INPUTDATE COMPONENT*/
.THIS .required-asterisk-datePicker :before{
    content:" *";
    color: rgb(194, 57, 52);
    margin: 0 .125rem;
}

/*DECREASE HEIGHT OF UI INPUTDATE COMPONENT*/
.THIS .uiInput--input .input, .THIS .uiInput--input.input{
    padding: 0 1rem 0 .75rem;
    line-height: 1.875rem;
    min-height: calc(1.875rem + (1px * 2));
}

/*ERROR BORDER FOR UI INPUTDATE COMPONENT*/
.THIS .uiInput--input .slds-has-error, .THIS .uiInput--input.slds-has-error{
  border: 2px solid rgb(194, 57, 52);  
}

/*INCREASE WIDTH OF POPOVER*/
.THIS .slds-popover{
    width:50% !important;
}

/*ADDING BORDER TO TABLES*/
.THIS .slds-table_bordered{
    border-right: 1px solid rgb(221, 219, 218);
    border-left: 1px solid rgb(221, 219, 218);
    border-top: 1px solid rgb(221, 219, 218);
    border-bottom: 1px solid rgb(221, 219, 218);
    
}

/*STYLE FOR BACK BUTTON*/
.THIS .back-button{
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
    vertical-align: middle;
    border: 1px solid rgb(221, 219, 218);
    -webkit-transition: border .15s linear;
    transition: border .15s linear;
    background-color: rgb(176, 173, 171);
    border-color: rgb(176, 173, 171);
    color: rgb(250, 250, 249);
}

/*FOR ADDING INDENTATION TO RADIO BUTTONS*/
.THIS .slds-radio{
    padding-left:1rem;
}

/*FOR MAKING THE BORDER OF BOX DARKER*/
.THIS .slds-box {
    padding: 1rem;
    border-radius: .25rem;
    border: 1px solid rgb(176, 173, 171);
}

/*text-justify*/
.THIS .text-justify{
    text-align: justify;
    text-justify: inter-word;
}


/*width for toast notifications*/
.THIS .slds-notify_toast, .THIS .slds-notify--toast{
    min-width:10rem !important;
}

.THIS .forceToastMessage.slds-notify--toast, .THIS .forceToastMessage.slds-notify_toast{
    min-width:10rem !important;
}

/*REPLICATE STYLE OF LINKS FOR TEXT*/
.THIS .link-text{
    color: rgb(0, 112, 210);
    text-decoration: none;
    cursor: pointer;
}

/**/
.THIS .slds-form-element__label{
    display:inline;
}


.THIS.scrollerSize {
    height: 100%;
    width: 100%;
    border-radius: 1px;
}

.THIS .innerDivWrapper {
    min-height: 101%;
    padding-bottom: 20px;
}





/* ----------- To add scroll to screens in small devices ----------- */
/* ----------- iPhone5, iPhone 6, 6S, 7 and 8 ----------- */
@media screen and (min-width: 320px) 
  and (max-width: 667px) 
  { 
    
    .THIS.scrollerSize {
    height: 100%;
    width: 100%;
    border-radius: 1px;
}

.THIS .innerDivWrapper {
    min-height: 101%;
    padding-bottom: 20px;
}

}

/* ----------- To add scroll to screens in small devices ----------- */
/* ----------- iPhone5, iPhone 6+, 7+ and 8+ ----------- */

@media screen and (min-width: 414px) 
  and (max-width: 736px) 
  { 
    
    .THIS.scrollerSize {
    height: 100%;
    width: 100%;
    border-radius: 1px;
}

.THIS .innerDivWrapper {
    min-height: 101%;
    padding-bottom: 20px;
}


}